
<div class="row1">
    <div class="play-video" *ngIf="playVideo$|async as videoTest">
   
            <video controls id="video" 
            (start)="resetCountable()"
            (ended)="resetCountable()" 
            (play)="predictTimeToCount($event,videoTest._id)" 
            (pause)="stopCountingTime()" > >
                <!-- <source *ngIf="(playVideo$|async)?.url"
                src="http://127.0.0.1:3000/video/play/test?path={{(playVideo$ | async)?.url}}" type="video/mp4"> -->

            </video>
      
        <p class="hashtag">
          {{(playVideo$ | async)?.hashtags}}
        </p>
        <div>
            <h1>{{(playVideo$ | async)?.title}}</h1>
        </div>

        <div class="play-video-info">
            <p>{{(playVideo$ | async)?.views}} lượt xem &bull; {{(playVideo$ | async)?.timeUp}}</p>
            <div class="like-share">
                <div class="sidebar__category">
                    <i class="material-icons" style="color: #1e1f26"  (click)="updateLike(videoTest._id)" *ngIf="!isLiked">thumb_up</i>
                    <i class="material-icons" style="color: red"  (click)="updateLike(videoTest._id)" *ngIf="isLiked">thumb_up</i>
                    <br />
                    <span style="color: #240303;;">{{like}}</span>
                </div>
                <div class="sidebar__category">
                    <i class="material-icons" style="color: #1e1f26" (click)="updateDislike(videoTest._id)" *ngIf="!isDisliked">thumb_down</i>
                    <i class="material-icons" style="color: red"  (click)="updateDislike(videoTest._id)" *ngIf="isDisliked">thumb_down</i>
                    <br />
                    <span style="color: #240303;;">{{dislike}}</span>
                </div>
                <div class="sidebar__category">
                    <i class="material-icons" style="color: #1e1f26" >share</i>
                    <br />
                    <span style="color: #1e1f26;">Chia sẻ</span>
                </div>
            </div>
        </div>
        <hr>
        <div class="plublisher">
            <!-- <img src="../../../../assets/images/avatar1.png"> -->
            <img src="{{(playVideo$ | async)?.author?.avatar}}" (error)="handleAuthorError($event)">
            <div>
                <p>{{(playVideo$ | async)?.author?.name}}</p>
                <span>{{subscriber}} người đăng kí</span>
            </div>
            <button type="button" class="noneSub" (click)="updateSubcribe(idOfAuthor)" *ngIf="!isSubscribed && idOfAuthor != userId">Đăng Ký</button>
            <button type="button" class="Sub" (click)="updateSubcribe(idOfAuthor)" *ngIf="isSubscribed && idOfAuthor != userId">
              Đã đăng Ký</button>
        </div>
        <div class="vid-description">
            <p>{{(playVideo$ | async)?.description}}</p>
            <hr>
            <h2>{{(getCommentByVideoId$ | async)?.length }} Bình luận</h2>
            <div class="add-comment">
                <img src="{{photoURL}}" (error)="handleError($event)">
                <form  [formGroup]="form" (submit)="createComment(videoTest._id)">
                  <input type="text"  style="border-bottom: 1px solid #ccc" placeholder="Viết bình luận..." formControlName="content" (blur)="openSubmit($event)" (focus)="openSubmit($event)">
                  <div class="comment-box" *ngIf="btnSubmit">
                      <button  class="btn btn-outline-danger" style="width: 50px;" type="cancel" (click)="closeSubmit()">Hủy</button>
                      <button class="comment-bl" type="submit">Bình luận</button>
                  </div>
              </form>
            </div>
            <div  *ngFor="let comment of getCommentByVideoId$ | async">
              <div class="old-comment">
                <img src="{{comment.author.avatar}}">
                <div >
                  <h1>{{comment.author.name}} <span>- {{comment.timeUp}}</span> </h1>
                </div>
              </div>
              <div class="comment-content">
                <p>{{comment.content}}</p>
                <div class="acomment-action">
                    <div class="sidebar__category">
                        <i class="material-icons" style="color: #1e1f26"  (click)="updateLike(videoTest._id)" *ngIf="!isLiked">thumb_up</i>
                        <i class="material-icons" style="color: red"  (click)="updateLike(videoTest._id)" *ngIf="isLiked">thumb_up</i>
                        <span style="color: #240303;;">{{like}}</span>
                    </div>
                    <div class="sidebar__category">
                        <i class="material-icons" style="color: #1e1f26" (click)="updateDislike(videoTest._id)" *ngIf="!isDisliked">thumb_down</i>
                        <i class="material-icons" style="color: red"  (click)="updateDislike(videoTest._id)" *ngIf="isDisliked">thumb_down</i>
                        <span style="color: #240303;;">{{dislike}}</span>
                    </div>
                    <span>Phản hồi</span>
                </div>
              </div>

            </div>
        </div>
    </div>
    <div class="right-sidebar">
        <div class="side-video-list" *ngFor="let allExceptId of getAllExceptId$ | async" (click)="playVideo(allExceptId._id)">
            <div class="image">
                <img src="{{allExceptId.image_url}}">
            </div>
            <div class="vid-info">
                <h1 (click)="playVideo(allExceptId._id)">{{allExceptId.title}}</h1>
                <p>{{allExceptId.author.name}}</p>
                <p>{{allExceptId.views}} lượt xem</p>    
            </div>
        </div>
    </div>
</div>
