.comment-submit{
  margin-left: 1%;
}

.add-comment form{
  width: 90%;
}

.row1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    font-family: "Maven Pro", sans-serif;
}

.play-video {
    flex-basis: 69%;
    width: 69%;
}

.right-sidebar {
    flex-basis: 30%;
    width: 30%;
    margin-bottom: 10px;
}

.play-video {
    padding-left: 2%;
}

.play-video video {
    width: 100%;
}

.hashtag{
    font-weight: bolder;
    color: #2252ed;
    margin-top: 5px;
}

.play-video h1 {
    font-weight: 600;
    font-size: 3ex;
    margin-top: 10px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #1e1f26;
}

.play-video-info {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    // flex-wrap: wrap;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1ex;

    // p {
    //     background-color: transparent;
    // }
}

.like-share {
    display: flex;
    justify-content: center;
}
// .sidebar__category  icon:hover {
//     color: #d0e1f9;
// }
.comment-content{
  margin-left: 7%;
}
.play-video-info .sidebar__category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: inline-flex;
    margin-right: 5px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 15px;
    i,
    span {
        background-color: transparent;
    }

    // padding-left: 3ex;
}
// .play-video-info .sidebar__category i{

// }
.play-video-info .sidebar__category span {
    font-size: 1.5ex;
    padding-left: 1ex;
    margin-top: 1.5ex;
    font-weight: bolder;
}

.play-video-info p {
    display: inline-flex;
    align-self: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    color: #1e1f26;
}

.play-video hr {
    border: 0;
    height: 0.2ex;
    background: rgb(216, 211, 211);
    margin: 1.5ex 0;
}

.side-video-list {
    width: 100%;
    display: inline-block;
    justify-content: space-between;
    display: flex;
 
}

.image {
    width: 100%;
    float: right;
}

.image img {
    width: 100%;
    flex-basis: 100%;
}

.vid-info {
    width: 20%;
    margin-left: 2%;
    float: right;
    flex-basis: 100%;
}

.vid-info h1 {
    font-size: 2.2ex;
    white-space: nowrap;
    width: 25ex;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15;
    font-weight: 600;
    cursor: pointer;
    color: #1e1f26;
}

.vid-info p {
    color: #1e1f26;
    white-space: nowrap;
    cursor: pointer;
    width: 20ex;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15;
}

.plublisher {
    display: flex;
    align-items: center;
    margin-top: 1ex;
}

.plublisher div {
    flex: 0.2ex;
    line-height: 2.8ex;
}

.plublisher img {
    width: 7ex;
    border-radius: 50%;
    margin-right: 1ex;
}

.plublisher div p {
    color: #1e1f26;
    font-weight: 600;
    font-size: 2.8ex;
}

.plublisher div span {
    font-size: 2ex;
    color: #1e1f26;
}
.plublisher button:hover {
    color: #11131d;
    font-weight: bolder;
}

.plublisher .noneSub {
    flex: 0 0 auto;
    padding: 8px 25px;
    border-radius: 55px;
    background: #ee5656;
    border: 1px solid #fffefe;
    text-transform: capitalize;
    margin-right: 25px;
    color: #f4f4f4;
    font-size: 15px;
    cursor: pointer;
}

.plublisher .Sub {
  flex: 0 0 auto;
  padding: 8px 25px;
  border-radius: 55px;
  background: #33CC33;
  border: 1px solid #33CC33;
  text-transform: capitalize;
  margin-right: 25px;
  color: #d0e1f9;
  font-size: 15px;
  cursor: pointer;
  //box-shadow: 0 2px 4px 0 rgba(234, 148, 148, 0.4);
  font-weight: bolder;
}

.vid-description {
    padding-left: 7ex;
    margin: 2ex 0;
}

.vid-description p {
    font-size: 2.3ex;
    margin-bottom: 1ex;
    color: #1e1f26;
}

.vid-description h2 {
    font-size: 2.3ex;
    color: #1e1f26;
    margin-top: 2ex;
    display: flex;
}

.add-comment {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5ex 0;
    margin-top: 1ex;
    color: #240303;
}

.add-comment img {
    width: 5ex;
    border-radius: 50%;
    margin-right: 1ex;
}

.add-comment form input {
    border: 0;
    outline: 0;
    height: 30px;
    width: 100%;
    padding-top: 1.5ex;
    background: transparent;

}
.add-comment .comment-box{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 10px;
    margin-right: 10px;
}

.add-comment .comment-box button:hover {
    color: #11131d;
    font-weight: bolder;
}

.add-comment .comment-box button{
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 10px;
    height: 43px;
}
.add-comment .comment-box .comment-bl {
    width: 120px;
    background-color: #2b58ec;
    border: 1px solid #fffefe;
    color: #dadeed;
}

.old-comment {
    display: flex;
    align-items: center;
}

.old-comment img {
    width: 6ex;
    border-radius: 50%;
    margin-right: 1ex;
    margin-top: 1ex;
    // margin-bottom: 15ex;
}

.old-comment h1 {
    font-size: 2ex;
    // padding-left: 1ex;
    // margin-top: 1.5ex;
    font-weight: bolder;
    color: #000;

}

.old-comment h1 span {
    font-size: 1.8ex;
    color: #1e1f26;
    font-weight: 300;
    margin-left: 0.8ex;
    font-weight: bolder;
}

.old-comment p {
    color: #1e1f26;
}

 .acomment-action {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: inline-flex;
}
  .action span{
    padding-bottom: 2px;
  }

.comment-content .acomment-action .sidebar__category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: inline-flex;
    padding-left: 15px;
    padding-right: 15px;
}

 .acomment-action span {
    font-size: 2ex;
    padding-left: 0.5ex;
    //font-weight: bolder;
    color: #1e1f26;
    // margin-bottom: 1px;
    // margin-left: 0.3px;
  }

@media (min-width: 470px) and (max-width: 660px ){
    .play-video-info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: 3.5rem;
        p{
            margin: 0;
        }
    }
}

@media (max-width: 469px) {
    .play-video {
        flex-basis: 100%;
    }

    .right-sidebar {
        flex-basis: 100%;
    }

    .vid-description {
        padding-left: 0;
    }

    .play-video-info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        height: 3.5rem;
        p{
            margin: 0;
        }
    }

    .play-video-info .sidebar__category {
        margin-left: 0px;
    }
  }
