
<div class="mainBody">
    <input style="text-align:center" type="checkbox" class="openSidebarMenu"
        id="openSidebarMenu" (click)="turnMenu($event)">
    <label style="margin-top:10px" id="openSidebarMenu" for="openSidebarMenu"
        class="sidebarIconToggle"  >
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
        <ul class="sidebarMenuInner">
            <li> <span (click)="goToHomePage()" class="nav-text">Trang Chủ</span><a
                    (click)="goToHomePage()"><i style="float:right;"
                        class="material-icons">home</i>
                </a>
            </li>
            <br>
            <li><span (click)="goToPopularPage()" class="nav-text">Thịnh Hành</span><a
                    (click)="goToPopularPage()"><i style="float: right;"
                        class="material-icons">local_fire_department</i>

                </a></li>
            <br>
            <li> <span (click)="goToChannelPage()" class="nav-text">Kênh Của Bạn</span><a
                    (click)="goToChannelPage()"><i style="float: right;"
                        class="material-icons">subscriptions</i>

                </a></li>
            <br>
            <li><span class="nav-text">Kênh Đăng Ký</span><a><i style="float:
                        right;" class="material-icons">library_add_check</i>
                </a></li>
        </ul>
    </div>
</div>
